body {
	


}


h1 {
	color: #ffffff;
	font-size: 500%;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

h3{

	color: #ffffff;
	font-family: 'Montserrat', sans-serif;

}

.container{
	
position: fixed;	
display: flex;
padding:0;
margin:0;
top:0;
left:0;
width: 100%;
height: 100%;

}


li{
	
color: #ffffff;
font-family: 'Montserrat', sans-serif;

}

.right{


width: 40%;
height: 100%;
padding-top: 10%;


	


}

.left{
	
	background-color: #3385ff;
	width: 60%;
	height: 100%;
	
	padding-top: 100px;
	padding-left: 50px;

}

.field {
	
	
	text-align: center;
}



.test {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 9% 0 10%;
  padding: 10px 135px 11px 15px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(0,142,198,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252,252,252,1);
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  
}



.Id {
	font-family: 'Montserrat', sans-serif;
	color: black;
	font: bold;
	margin: 0 25% 5% 30%;
}

.mdp {
font-family: 'Montserrat', sans-serif;
	color: black;
	font: bold;
	margin: 5% 10% 0 0;
	
}



.actions
{
padding: 10px 150px 11px 100px;
font-size: 18px !important;
margin: 5% 10% 0 10%;
background-color: #3385ff;
font-weight: bold;
text-shadow: 1px 1px #57D6C7;
color: #ffffff;
border-radius: 1px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 1px solid #57D6C7;
cursor: pointer;
box-shadow: 0 0px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 0px 0 rgba(255, 255, 255, 0.5) inset;
-webkit-box-shadow: 0 0px 0 rgba(255, 255, 255, 0.5) inset;
}

.sign {
	background-color: #D3CECD;
	margin: 8% 0% 0 0;
	padding: 20% 0 15% 30%;
	text-decoration:none;
}

.creer {
	color: #D3CECD;
	font-family: 'Montserrat', sans-serif;
	margin: 0 25% 5% 30%;

}

.actions1
{
padding: 10px 105px 11px 100px;
font-size: 18px !important;
margin: 5% 10% 10% 18%;
background-color: #3385ff;
font-weight: bold;
text-shadow: 1px 1px #57D6C7;
color: #ffffff;
border-radius: 1px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 1px solid #57D6C7;
cursor: pointer;
box-shadow: 0 0px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 0px 0 rgba(255, 255, 255, 0.5) inset;
-webkit-box-shadow: 0 0px 0 rgba(255, 255, 255, 0.5) inset;
}

.actions2
{
padding: 10px 105px 11px 100px;
font-size: 18px !important;
margin: 5% 10% 10% 18%;
background-color: #3385ff;
font-weight: bold;
text-shadow: 1px 1px #57D6C7;
color: #ffffff;
border-radius: 1px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 1px solid #57D6C7;
cursor: pointer;
box-shadow: 0 0px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 0px 0 rgba(255, 255, 255, 0.5) inset;
-webkit-box-shadow: 0 0px 0 rgba(255, 255, 255, 0.5) inset;
}

.ntm {
	color: black;
	text-decoration:none;
}

.mdp1 {
	text-decoration:none;
	font-style: italic;
	margin: auto;
	margin: 5%
}

.test1 {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 9% 0 -15%;
  padding: 10px 135px 11px 15px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(0,142,198,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252,252,252,1);
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  
}